<div class="row">
  <div class="col-md-8" [formGroup]="personalInfoForm">
    <div class="form-group">
      <label class="form-label mt-4">First Name</label>
      <div class="d-flex">
        <input type="text" name="id" class="form-control fsa-form-control-light" formControlName="firstName" required>
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
      <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)"
           class="alert alert-danger mt-1" style="margin-right: 26px">
        You must provide a valid response in the "First Name" field.
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Middle Name</label>
      <div class="d-flex">
        <input type="text" name="id" class="form-control fsa-form-control-light" formControlName="middleName" required>
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
      <div *ngIf="middleName.invalid && (middleName.touched || middleName.dirty)"
           class="alert alert-danger mt-1" style="margin-right: 26px">
        You must provide a valid response in the "Middle Name" field.
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Last Name</label>
      <div class="d-flex">
        <input type="text" name="id" class="form-control fsa-form-control-light" formControlName="lastName" required>
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
      <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)"
           class="alert alert-danger mt-1" style="margin-right: 26px">
        You must provide a valid response in the "Last Name" field.
      </div>
    </div>
    <div class="form-group">
      <label>Date of Birth</label>
      <div class="d-flex">
        <div class="mx-1 fsa-date-input">
          <small class="form-label mt-4">Month</small>
          <input type="number" name="month"
                 class="form-control fsa-form-control-light" formControlName="month"
                 required>
        </div>
        <div class="mx-1 fsa-date-input">
          <small class="form-label mt-4">Day</small>
          <input type="number" name="id" class="form-control fsa-form-control-light" formControlName="day" required>
        </div>
        <div class="mx-1 fsa-date-input">
          <small class="form-label mt-4">Year</small>
          <input type="number" name="id" class="form-control fsa-form-control-light" formControlName="year" required>
        </div>
        <app-question-popover class="align-self-center ml-1 mt-3">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
      <ng-container *ngIf="month.invalid || day.invalid || year.invalid">
        <div *ngIf="month.dirty && day.dirty && year.dirty"
             class="alert alert-danger mt-1" style="margin-right: 26px">
          You must provide a valid response in the "Date of Birth" field.
        </div>
      </ng-container>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Social Security</label>
      <div class="d-flex">
        <input type="text" id="ssn" ssn="999-99-9999" appSsnMask name="ssn" class="form-control fsa-form-control-light"
               formControlName="ssn" required maxlength="11">
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
      <div *ngIf="ssn.invalid && (ssn.touched || ssn.dirty)"
           class="alert alert-danger mt-1" style="margin-right: 26px">
        You must provide a valid response in the "Social Security" field.
      </div>
    </div>
    <!--    action-->
    <div class="row mt-3">
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-outline-primary btn-block m-2" routerLink="/create-account/launch">Cancel</button>
      </div>
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-primary btn-block m-2" (click)="goToNext()">
          Continue
        </button>
      </div>
    </div>
  </div>

</div>

