.home-banner {
  padding-top : 10px;
  background  : url("https://studentaid.gov/Swirl.91cda726ae45d8a34167.svg") center center/cover no-repeat;
}

.home-main-title {
  font-size   : 2.25rem;
  line-height : 2.375rem;
  font-weight : 700;
  color       : #fff;
}

.fsa-color-white {
  color : #fff !important;
}
