.home-banner {
  padding-top : 10px;
  background  : url("https://studentaid.gov/Swirl.91cda726ae45d8a34167.svg") center center/cover no-repeat;
}

.home-main-title {
  font-family    : "News Cycle", Roboto, serif;
  font-size      : 3.25rem;
  line-height    : 3.375rem;
  font-weight    : 700;
  color          : #fff;
  letter-spacing : normal;
  text-transform : none;
}

.fsa-green-line {
  border-top    : 3px solid #47b61f;
  margin-top    : 0.75rem !important;
  margin-bottom : 0.75rem !important;
  width         : 35%;
}
