<app-header></app-header>
<app-info-tabs></app-info-tabs>
<div class="container text-center" style="margin: 60px">
  <div style="font-size: 2.25rem; font-weight: 600">How Financial Aid Works</div>
  <div class="fsa-body-text mx-auto col-md-8 col-lg-6 d-none d-md-block">
    <p>Finding financial aid can seem overwhelming when you're trying to get ready for college or career school. It
      doesn't have to be! We'll walk you through how financial aid works, resources to pay for college, and loan
      repayment options.</p>
  </div>
  <div class="row">
    <div class="col">
      <div style="font-size: 1.35rem; font-weight: 600">Start Planning Early</div>
      <div>Develop your game plan to pay for college</div>
    </div>
    <div class="col">
      <div style="font-size: 1.35rem; font-weight: 600">Fill Out the FAFSA® Form</div>
      <div>Apply for federal student aid</div>
    </div>
    <div class="col">
      <div style="font-size: 1.35rem; font-weight: 600">Review Your Aid Offer</div>
      <div>Compare the aid each school is offering</div>
    </div>
    <div class="col">
      <div style="font-size: 1.35rem; font-weight: 600">Get Your Aid</div>
      <div>Aid goes to your student account first</div>
    </div>
    <div class="col">
      <div style="font-size: 1.35rem; font-weight: 600">Repay Your Loans</div>
      <div>Find an affordable repayment plan</div>
    </div>
  </div>
</div>
