<div class="fsa-info-tabs-wrapper">
  <tabset class="fsa-info-tabs" style="margin: auto">
    <tab customClass="fsa-info-tab">
      <ng-template tabHeading>
        <div>
          <div class="fsa-text-title mb-3">Considering School</div>
          <div><i>I'm thinking about going to college or a career school.</i></div>
        </div>
      </ng-template>
      <div class="fsa-info-content">
        <div class="col-8">
          <div class="fsa-text-title mb-3 mb-3">Getting ready for college can be easier than you think.</div>
          <div>
            It's never too early—or too late—to explore your options for college or career school. This site discusses
            key
            steps in preparing for college and provides resources that can help you along the way.
          </div>
        </div>
      </div>
    </tab>
    <tab class="fsa-info-tab">
      <ng-template tabHeading>
        <div>
          <div class="fsa-text-title mb-3">In School</div>
          <div><i>I'm in the process of earning a degree or certificate.</i></div>
        </div>

      </ng-template>
      <div class="fsa-info-content">
        <div class="col-8">
          <div class="fsa-text-title mb-3">We're here to help you access and manage your financial aid.</div>
          <div>If you filled out the FAFSA® form, you may have been offered grants, work-study, and loans. Before you
            receive a Direct Loan, you must complete counseling and sign a Master Promissory Note (MPN). Before you
            receive
            a TEACH Grant, you must complete counseling and sign an Agreement to Serve or Repay (Agreement) each year in
            which you receive a TEACH Grant.
          </div>
        </div>
      </div>
    </tab>
    <tab class="fsa-info-tab">
      <ng-template tabHeading>
        <div>
          <div class="fsa-text-title mb-3">Parent</div>
          <div><i>I want to help my child pay for college.</i></div>
        </div>
      </ng-template>
      <div class="fsa-info-content">
        <div class="col-8">
          <div class="fsa-text-title mb-3">We'll share useful info and walk you through the PLUS loan process.</div>
          <div>We have resources for parents looking to save for college and learn about financial aid. We also make
            loans
            to eligible parents to help pay for their child's undergraduate education expenses.
          </div>
        </div>
      </div>
    </tab>
    <tab class="fsa-info-tab">
      <ng-template tabHeading>
        <div>
          <div class="fsa-text-title mb-3">In Repayment</div>
          <div><i>I have loans I need to repay.</i></div>
        </div>
      </ng-template>
      <div class="fsa-info-content">
        <div class="col-8">
          <div class="fsa-text-title mb-3">We'll help you manage the repayment process.</div>
          <div>Federal student loans offer flexible repayment plans, loan consolidation, forgiveness programs, and more.
            We can help you manage repayment and answer any questions you have along the way.
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
