<div class="fsa-body-background">
  <div class="container">
    <div class="my-5 py-5 mx-2">
      <div class="col-lg-8 col-sm-12 col-12 mb-3">
        <div class="fsa-text-title my-4">Create an Account (FSA ID)</div>
        <h4 class="fsa-text-title my-4">Personal Information</h4>
        <div class="my-4">
          I understand that I'll be required to certify that the information I provide to create an account (FSA ID) is
          true and correct and that I'm the individual I claim to be.
        </div>
        <div class="my-4">
          If I’m not the person I claim to be, I understand that I’m not authorized to proceed and that I should exit
          this form now. If I provide false or misleading information, I understand that I might be subject to a fine,
          prison time, or both.
        </div>
        <div class="my-4">
          <app-personal-info-form></app-personal-info-form>
        </div>
      </div>
    </div>
  </div>
</div>
