<div class="row">
  <div class="col-md-8 mt-5">
    <div class="fsa-form-legend">Mailing Address</div>
    <hr>
  </div>
  <div class="col-md-8" [formGroup]="contactInfoForm">
    <div class="form-group">
      <label class="form-label mt-4">Address</label>
      <div class="d-flex">
        <input type="text" name="streetAddress" formControlName="streetAddress"
               class="form-control fsa-form-control-light"
               required>
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">City</label>
      <div class="d-flex">
        <input type="text" name="city" formControlName="city" class="form-control fsa-form-control-light" required>
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">State</label>
      <div class="d-flex">
        <input type="text" name="state" formControlName="state" class="form-control fsa-form-control-light" required>
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">ZIP Code</label>
      <div class="d-flex">
        <input type="number" name="zipCode" formControlName="zipCode" class="form-control fsa-form-control-light"
               required>
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
    </div>
    <div>
      <div class="fsa-form-legend mt-5">Phone Number</div>
      <hr>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Mobile Phone Number</label>
      <div class="d-flex">
        <input type="text" name="cellPhone" formControlName="cellPhone" class="form-control fsa-form-control-light"
               required maxlength="14" minlength="14" (input)="maskPhone($event)">
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Confirm Mobile Phone Number</label>
      <div class="d-flex">
        <input type="text" name="confirmCellPhone" formControlName="confirmCellPhone"
               class="form-control fsa-form-control-light" required maxlength="14" minlength="14" (input)="maskPhone($event)">
        <app-question-popover class="align-self-center ml-1">
          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your
            identity.</p>
          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first
            character must be a letter and the second character must be nonnumeric.</p>
          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can
            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>
        </app-question-popover>
      </div>
    </div>
    <div class="mt-5">
      <div class="fsa-form-legend">Mobile Phone Account Recovery</div>
      <hr>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">
        We strongly recommend setting up mobile phone account recovery. This option is used to help you restore access
        to your account by sending you a code via text message if you are locked out.
      </label>
      <div class="d-flex">
        <div class="form-check">
          <input type="checkbox" name="smsOptIn" formControlName="smsOptIn"
                 class="form-check-input fsa-form-control-light">
          <label class="form-check-label">Yes I would like to use my phone for account recovery.</label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-outline-primary btn-block m-2" routerLink="/create-account/account-info">Previous</button>
      </div>
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-primary btn-block m-2" (click)="goToNext()">
          Continue
        </button>
      </div>
    </div>
  </div>

</div>
