.fsa-logo {
  object-fit      : cover;
  width           : 202px;
  height          : 28px;
  object-position : 10px 0;
  transform       : translateX(-10px);
}


.bg-light {
  border : 0;
}

.navbar {
  border-bottom : 1px solid rgb(202, 207, 208);
}

.dropdown-menu {
  margin           : 0 !important;
  border-radius    : 0;
  border           : 0;
  border-top       : 1px solid rgb(202, 207, 208);
  width            : 100% !important;
  background-color : #fff;
  padding          : 18px;
  top              : 101px;
}

.dropdown.open {
  position : static;
}

.fsa-dropdown-menu {
  display        : flex;
  flex-direction : row;
}

.dropdown-item {
  max-width : 200px;
  white-space : normal;
  //background-color: #1c7a59;
  @media screen and (max-width : 1000px) {
    white-space : nowrap;
  }
}
