<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img class="fsa-logo" src="https://studentaid.gov/universal-navigation/assets/fsa-logo.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-3" id="navbarColor03" [collapse]="isCollapsed">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="basic-link-dropdown"
             aria-expanded="false" href (click)="false">UNDERSTAND AID</a>
          <div id="basic-link-dropdown" role="menu"
               *dropdownMenu class="dropdown-menu">
            <div class="fsa-dropdown-menu row">
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">How Financial Aid Works</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Types of Financial Aid</a>
                <a class="dropdown-item" href="#">Grants</a>
                <a class="dropdown-item" href="#">Scholarships</a>
                <a class="dropdown-item" href="#">Loans</a>
                <a class="dropdown-item" href="#">Aid for Military Families</a>
                <a class="dropdown-item" href="#">Aid for International Study</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Financial Aid Eligibility</a>
                <a class="dropdown-item" href="#">Eligibility Requirements</a>
                <a class="dropdown-item" href="#">Staying Eligible</a>
                <a class="dropdown-item" href="#">Regaining Eligibility</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="dropdown-basic"
             aria-expanded="false" href (click)="false">APPLY FOR AID</a>
          <div class="dropdown-menu" *dropdownMenu>
            <div class="fsa-dropdown-menu row">
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Complete the FAFSA® Form</a>
                <a class="dropdown-item" href="#">FAFSA Deadlines</a>
                <a class="dropdown-item" href="#">Filling Out the FAFSA Form</a>
                <a class="dropdown-item" href="#">Reviewing and Correcting Your FAFSA Form</a>
                <a class="dropdown-item" href="#">Renewing Your FAFSA Form</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Apply for a PLUS Loan</a>
                <a class="dropdown-item" href="#">Apply for a Grad PLUS Loan</a>
                <a class="dropdown-item" href="#">Apply for a Parent PLUS Loan</a>
                <a class="dropdown-item" href="#">Endorse a PLUS Loan</a>
                <a class="dropdown-item" href="#">Appeal a Credit Decision</a>
                <a class="dropdown-item" href="#">Complete PLUS Credit Counseling</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="dropdown-basic"
             aria-expanded="false" href (click)="false">COMPLETE AID PROCESS</a>
          <div class="dropdown-menu" *dropdownMenu>
            <div class="fsa-dropdown-menu row">
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">How Aid is Calculated</a>
                <a class="dropdown-item" href="#">Comparing School Aid Offers</a>
                <a class="dropdown-item" href="#">Accepting Financial Aid</a>
                <a class="dropdown-item" href="#">Receiving Financial Aid</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Complete Annual Student Loan
                  Acknowledgment</a>
                <a class="dropdown-item" href="#">Complete a Master Promissory Note (MPN)</a>
                <a class="dropdown-item" href="#">MPN for Undergraduates</a>
                <a class="dropdown-item" href="#">MPN for Graduate/Professional Students</a>
                <a class="dropdown-item" href="#">MPN for Parents</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Complete Entrance Counseling</a>
                <a class="dropdown-item" href="#">Complete TEACH Grant Counseling and Agreement</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="dropdown-basic"
             aria-expanded="false" href (click)="false">MANAGE LOANS</a>
          <div class="dropdown-menu" *dropdownMenu>
            <div class="fsa-dropdown-menu row">
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">About Loan Repayment</a>
                <a class="dropdown-item" href="#">Who's My Servicer?</a>
                <a class="dropdown-item" href="#">Repayment Plans</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Complete Exit Counseling</a>
                <a class="dropdown-item" href="#">Complete TEACH Grant Conversion Counseling</a>
                <a class="dropdown-item" href="#">Make a Payment</a>
                <a class="dropdown-item" href="#">Loan Simulator</a>
                <a class="dropdown-item" href="#">Consolidate My Loans</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Lower My Payments</a>
                <a class="dropdown-item" href="#">Apply for an Income-Driven Repayment Plan</a>
                <a class="dropdown-item" href="#">Recertify an Income-Driven Repayment Plan</a>
                <a class="dropdown-item" href="#">Cosign Your Spouse's Income-Driven Repayment Plan Application</a>
                <a class="dropdown-item" href="#">Get Temporary Relief</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Qualify for Loan Forgiveness</a>
                <a class="dropdown-item" href="#">Public Service Loan Forgiveness</a>
                <a class="dropdown-item" href="#">Teacher Loan Forgiveness</a>
                <a class="dropdown-item" href="#">Closed School Discharge</a>
                <a class="dropdown-item" href="#">Perkins Loan Cancellation and Discharge</a>
                <a class="dropdown-item" href="#">Total and Permanent Disability Discharge</a>
                <a class="dropdown-item" href="#">Discharge Due to Death</a>
                <a class="dropdown-item" href="#">Discharge in Bankruptcy</a>
                <a class="dropdown-item" href="#">Borrower Defense to Repayment</a>
                <a class="dropdown-item" href="#">False Certification Discharge</a>
                <a class="dropdown-item" href="#">Unpaid Refund Discharge</a>
              </div>
              <div class="col-lg">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Delinquency and Default</a>
                <a class="dropdown-item" href="#">Avoiding Default</a>
                <a class="dropdown-item" href="#">Collections</a>
                <a class="dropdown-item" href="#">Getting Out of Default</a>
              </div>
            </div>
          </div>
        </li>
        <!--        user and login-->
      </ul>
      <ng-container *ngIf="!userService.isLoggedIn">
        <a class="col nav-link" routerLink="/login">Login</a>
        <a class="col nav-link" routerLink="/create-account">Create Account</a>
      </ng-container>
      <ng-container *ngIf="userService.isLoggedIn">
        <a class="nav-link" href="#" (click)="false">
          {{userService.user?.username}}
        </a>
      </ng-container>
    </div>
  </div>
</nav>
















































