<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img class="fsa-logo" src="https://studentaid.gov/universal-navigation/assets/fsa-logo.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03" [collapse]="isCollapsed">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="basic-link-dropdown"
             aria-expanded="false" href (click)="false">UNDERSTAND AID</a>
          <div id="basic-link-dropdown" role="menu"
               *dropdownMenu class="dropdown-menu">
            <div class="fsa-dropdown-menu">
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">How Financial Aid Works</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Types of Financial Aid</a>
                <a class="dropdown-item" href="#">Grants</a>
                <a class="dropdown-item" href="#">Scholarships</a>
                <a class="dropdown-item" href="#">Loans</a>
                <a class="dropdown-item" href="#">Aid for Military Families</a>
                <a class="dropdown-item" href="#">Aid for International Study</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Financial Aid Eligibility</a>
                <a class="dropdown-item" href="#">Eligibility Requirements</a>
                <a class="dropdown-item" href="#">Staying Eligible</a>
                <a class="dropdown-item" href="#">Regaining Eligibility</a>
              </div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="dropdown-basic"
             aria-expanded="false" href (click)="false">APPLY FOR AID</a>
          <div class="dropdown-menu" *dropdownMenu>
            <div class="fsa-dropdown-menu">
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">How Financial Aid Works</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Types of Financial Aid</a>
                <a class="dropdown-item" href="#">Grants</a>
                <a class="dropdown-item" href="#">Scholarships</a>
                <a class="dropdown-item" href="#">Loans</a>
                <a class="dropdown-item" href="#">Aid for Military Families</a>
                <a class="dropdown-item" href="#">Aid for International Study</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Financial Aid Eligibility</a>
                <a class="dropdown-item" href="#">Eligibility Requirements</a>
                <a class="dropdown-item" href="#">Staying Eligible</a>
                <a class="dropdown-item" href="#">Regaining Eligibility</a>
              </div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="dropdown-basic"
             aria-expanded="false" href (click)="false">COMPLETE AID PROCESS</a>
          <div class="dropdown-menu" *dropdownMenu>
            <div class="fsa-dropdown-menu">
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">How Financial Aid Works</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Types of Financial Aid</a>
                <a class="dropdown-item" href="#">Grants</a>
                <a class="dropdown-item" href="#">Scholarships</a>
                <a class="dropdown-item" href="#">Loans</a>
                <a class="dropdown-item" href="#">Aid for Military Families</a>
                <a class="dropdown-item" href="#">Aid for International Study</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Financial Aid Eligibility</a>
                <a class="dropdown-item" href="#">Eligibility Requirements</a>
                <a class="dropdown-item" href="#">Staying Eligible</a>
                <a class="dropdown-item" href="#">Regaining Eligibility</a>
              </div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle aria-controls="dropdown-basic"
             aria-expanded="false" href (click)="false">MANAGE LOANS</a>
          <div class="dropdown-menu" *dropdownMenu>
            <div class="fsa-dropdown-menu">
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">How Financial Aid Works</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Types of Financial Aid</a>
                <a class="dropdown-item" href="#">Grants</a>
                <a class="dropdown-item" href="#">Scholarships</a>
                <a class="dropdown-item" href="#">Loans</a>
                <a class="dropdown-item" href="#">Aid for Military Families</a>
                <a class="dropdown-item" href="#">Aid for International Study</a>
              </div>
              <div class="flex-fill">
                <a class="dropdown-item fsa_Link_HeaderLevel2HowAidWorks" href="#">Financial Aid Eligibility</a>
                <a class="dropdown-item" href="#">Eligibility Requirements</a>
                <a class="dropdown-item" href="#">Staying Eligible</a>
                <a class="dropdown-item" href="#">Regaining Eligibility</a>
              </div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>















