<div class="full-page">
  <app-navigation class="fixed-top"></app-navigation>
  <div style="margin-top: 90px">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
<!--<div class="m-5" style="margin-top:500px; background-color: #0f4a63">-->
<!--  <app-blocking-loading-spinner [show]="this.userService.loading"></app-blocking-loading-spinner>-->
<!--</div>-->
<div class="m-5" style="background-color: #1c7a59">
  <app-error-toast [(show)]="userService.error" [message]="userService.errorMessage"></app-error-toast>
</div>
