.popover {
  max-width : 296px;
}

.popover-body {
  background-color : #345065 !important;
  color            : #fff !important;
}

.fsa-popover-content {
  font-family : "Noto Serif", serif;
  line-height : 1.5rem;
  font-size   : 1rem;
  max-width   : 21.88rem;
  min-width   : 10rem;
  text-align  : left;
}

