<div class="row">
  <div class="col-md-8" [formGroup]="confirmForm">
    <!--    <div class="form-group">-->
    <!--      <label class="form-label mt-4">Username</label>-->
    <!--      <div class="d-flex">-->
    <!--        <input type="text" name="id" class="form-control fsa-form-control-light" required>-->
    <!--        <app-question-popover class="align-self-center ml-1">-->
    <!--          <p>Enter your first name exactly as it appears on your Social Security card. We use your name to verify your-->
    <!--            identity.</p>-->
    <!--          <p>Valid characters include numbers, letters, space(s), period (.), apostrophe (‘), and hyphen (-). The first-->
    <!--            character must be a letter and the second character must be nonnumeric.</p>-->
    <!--          <p>If your name has changed, you must update it with the Social Security Administration (SSA) before you can-->
    <!--            create an account. For more information, you can call the SSA at 1-800-772-1213 or visit ssa.gov.</p>-->
    <!--        </app-question-popover>-->
    <!--      </div>-->
    <!--    </div>-->
<!--    <ngx-recaptcha2 #captchaElem-->
<!--                    [siteKey]="siteKey"-->
<!--                    formControlName="recaptcha">-->

<!--    </ngx-recaptcha2>-->

    <div class="row mt-3">
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-outline-primary btn-block m-2" routerLink="/create-account/challenge-questions">
          Previous
        </button>
      </div>
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-primary btn-block m-2" routerLink="/create-account/verify-contact-info">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
