.modal-content {
  background-color : transparent !important;
  outline          : none !important;
  border           : 0 !important;
}
.modal-backdrop
{
  background-color: #f2f2f2;
  opacity:0.9 !important;
}
