<div class="row">
  <div class="col-md-8">
    <div class="mt-5">
      <div class="fsa-form-legend">Required Communications</div>
      <hr>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">The U.S Department of Eduction (ED) and its federal student loan services will need
        to send you required communications and documents related to your federal student aid, such as student loan
        disclosures and interest statements.</label>
      <label class="form-label mt-1">I want to receive these communications</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="communication" value="email" checked>
          By email
          <span class="font-weight-bold font-italic" style="color: darkcyan"> Recommended</span>
        </label>
      </div>
      <div class="alert alert-info">
        <div class="d-flex">
          <i class="fas fa-info-circle m-2" style="font-size: 1.25rem"></i>
          <div>
            <strong>By selecting this options, you agree to receive required communications by email and confirm you
              have
              reviewed and agree to FSA's </strong>
            <a href="#" class="alert-link">Terms and Conditions</a>.
          </div>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="communication" value="mail">
          By postal mail
        </label>
      </div>
    </div>
    <div class=" mt-5">
      <div class="fsa-form-legend">Optional Communications</div>
      <hr>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">ED and its federal student loan servicers want you to feel confident about the
        financial aid and student loan progress. To help with this, we will sometimes send out information about
        programs you may be eligible for, such as grant programs, student loan forgiveness programs, income-based
        repayment
        plans, and more.</label>
      <label class="form-label mt-1">I want to receive these communications:</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="optEmail">
          By email
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="optMail">
          By text message
        </label>
      </div>
    </div>
    <div class="mt-5">
      <div class="fsa-form-legend">Language Preference</div>
      <hr>
    </div>
    <div class="form-group row">
      <label class="form-label mt-4">Your choice lets us know how would like to view website content once logged in, and
        what to use for your communications.</label>
      <label class="form-label mt-1">Language</label>
      <div class="col-md-8">
        <select class="form-select fsa-form-control-light">
          <option>English</option>
          <option>Spanish</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-outline-primary btn-block m-2" routerLink="/create-account/contact-info">Previous</button>
      </div>
      <div class="col-sm-6 p-0 d-flex">
        <button class="btn btn-primary btn-block m-2" routerLink="/create-account/challenge-questions">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<!--        <input type="text" name="streetAddress" formControlName="streetAddress"-->
<!--               class="form-control fsa-form-control-light"-->
<!--               required>-->
