/* You can add global styles to this file, and also import other style files */
@import "lux.min.css";

html, body {
  min-height      : 100%;
  margin          : 0;
  scroll-behavior : smooth;
  color           : #0d0d0d;
  font-family     : "News Cycle", Roboto, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-family : "News Cycle", Roboto, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h4 {
  font-weight    : 700;
  color          : #17232e;
  font-size      : 1.125rem;
  text-transform : none;
  letter-spacing : normal;
}

.fsa-full-page {
  min-height : 100vh;
}

.fsa-text-title {
  color       : #0d0d0d;
  font-size   : 1.75rem;
  font-weight : 600;
}

.fsa-body-background {
  background-color : #fafafa;
}

.fsa-bg-color-blue-pale {
  background-color : #f6f9fb !important;
}

.fsa-icon {
  font-size : 1.75rem;
}


.modal-transparent {
  background-color : transparent !important;
  outline          : none !important;
  border           : 0 !important;
}

.fsa-form-control-light {
  background-color : white;
  border           : 1px solid #afb5b6 !important;
  border-radius    : 2px !important;
}

.fsa-color-white {
  color : #fff !important;
}

.fsa-text-medium {
  font-weight : 600;
  font-family : "News Cycle", Roboto, serif;
  font-size   : 1.125rem;
}

.fsa-body-text {
  font-family : "Noto Serif", serif !important;
  line-height : 1.5rem;
}

.fsa-form-legend {
  font-family : "News Cycle", serif;
  font-weight : 700;
  color       : #17232e;
  font-size   : 1.375rem;
  line-height : 1.7188rem;
}

.fsa-panel-absolute {
  position : absolute;
  display  : flex;
  left     : 0;
  right    : 0;
  margin   : auto;
  padding  : 18px;
}


.fsa_Link_HeaderLevel2HowAidWorks {
  font-family    : News Cycle, serif;
  text-transform : none;
  font-weight    : 700;
  margin-top     : 10px;
  color          : #227aa7;
  display        : block;
  font-size      : 16px;
  text-align     : left;
}

.fsa-toggle-password {
  position       : absolute;
  align-self     : center;
  right          : 2.5rem;
  margin-right   : 35px;
  cursor         : pointer;
  font-weight    : bold;
  font-family    : "News Cycle";
  font-size      : 0.75rem;
  color          : #6e7678;
  letter-spacing : normal;
  z-index        : 20;
}
